.section {
  overflow: hidden;
  width: 100%;
}

.track {
  display: flex;
  flex-wrap: nowrap;
  width: max-content;
  will-change: transform;
}

.track > * {
  flex-shrink: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
